Q1. List any five functions of the pandas library with execution.

In [3]:
import pandas as pd
df=pd.DataFrame({ 'id': (1,2,3,4,5,6,7,8,9,10,11), 'name': ('sahil verma','sneha','nitin','diksha','anjali','atul','aditya','ayush','harshit','nitay','karambir'), 'course':['btech','btech','btech','btech','btech','btech','btech','btech','btech','btech','btech'], 'marks':[96,94,89,79,69,90,88,77,83,80,79] })
print(df.head())

   id         name course  marks
0   1  sahil verma  btech     96
1   2        sneha  btech     94
2   3        nitin  btech     89
3   4       diksha  btech     79
4   5       anjali  btech     69

In [4]:
import pandas as pd
data = {'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)
print(df.head(3))

   A  B
0  1  a
1  2  b
2  3  c

In [5]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
        'Score': [85, 90, 78, 92, 95]}
df = pd.DataFrame(data)
grouped = df.groupby('Name').mean()
print(grouped)

         Score
Name
Alice     88.5
Bob       92.5
Charlie   78.0

In [6]:
import pandas as pd
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})
merged = pd.merge(df1, df2, on='key')
print(merged)

  key  value_x  value_y
0   B        2        5
1   D        4        6

In [7]:
import pandas as pd
data = {'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
        'B': ['one', 'one', 'two', 'two', 'one', 'one'],
        'C': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
pivot_table = df.pivot_table(values='C', index='A', columns='B', aggfunc='sum')
print(pivot_table)

B    one  two
A
bar   11    4
foo    3    3

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [11]:
re_index=[1,3,4]
print(df.reindex(re_index))

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN
4  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [41]:
df=pd.DataFrame({'value':[10,20,30,40,50]})
print(df)
df.loc[0:2].sum(axis=0)

   value
0     10
1     20
2     30
3     40
4     50

value    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [44]:
df=pd.DataFrame({'text':[10,20,30,40,50]})
print(df)
df['Word_Count']=['a','b','c','d','e']
print(df)

   text
0    10
1    20
2    30
3    40
4    50
   text Word_Count
0    10          a
1    20          b
2    30          c
3    40          d
4    50          e

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size(): This method returns the number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. It provides the total size of the DataFrame.

DataFrame.shape(): This method returns a tuple representing the dimensions of the DataFrame. It returns a tuple in the format (number_of_rows, number_of_columns). It provides the shape of the DataFrame as a tuple, where the first element is the number of rows and the second element is the number of columns.

In [49]:
print(df.size)
print(df.shape)

10
(5, 2)

Q6. Which function of pandas do we use to read an excel file?

#syntax to read excel file
import pandas as pd
df = pd.read_excel('example.xlsx')
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

import pandas as pd

def extract_username(df):
    # Split the 'Email' column on '@' and access the first part (username)
    df['Username'] = df['Email'].str.split('@').str[0]
    
    return df

# Example DataFrame
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com']}
df = pd.DataFrame(data)

# Call the function with the DataFrame
df = extract_username(df)

# Print the updated DataFrame
print(df)

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [82]:
df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,10,3,1],'C':[1,7,4,5,2]})
def selected_rows():
    new_df=df[(df['B']<10) & (df['A']>5)]
    new_dataframe=pd.DataFrame(new_df)
    print(new_dataframe)

selected_rows()

   A  B  C
1  8  2  7
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [87]:
import pandas as pd
def calculate_statistics():
    data = {'Values': [1, 2, 3, 4, 5]}
    df = pd.DataFrame(data)
    # Calculate the mean, median, and standard deviation of the 'Values' column
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_value)

# Call the function with the DataFrame
calculate_statistics()

Mean: 3.0
Median: 3.0
Standard Deviation: 1.5811388300841898

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [88]:
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by date
    df = df.sort_values(by='Date')
    
    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example DataFrame
data = {'Date': pd.date_range(start='2022-01-01', periods=10),
        'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550]}
df = pd.DataFrame(data)

# Call the function with the DataFrame
df = calculate_moving_average(df)

# Print the updated DataFrame
print(df)

        Date  Sales  MovingAverage
0 2022-01-01    100          100.0
1 2022-01-02    150          125.0
2 2022-01-03    200          150.0
3 2022-01-04    250          175.0
4 2022-01-05    300          200.0
5 2022-01-06    350          225.0
6 2022-01-07    400          250.0
7 2022-01-08    450          300.0
8 2022-01-09    500          350.0
9 2022-01-10    550          400.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [89]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Add a new column 'Weekday' with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

# Example DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Call the function with the DataFrame
df = add_weekday_column(df)

# Print the updated DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

import pandas as pd

def select_rows_between_dates(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Select rows where the date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    
    return selected_rows

# Example DataFrame
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15']}
df = pd.DataFrame(data)

# Call the function with the DataFrame
selected_df = select_rows_between_dates(df)

# Print the selected DataFrame
print(selected_df)

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

To use the basic functions of pandas, you need to import the pandas library itself. This is typically done with the following import statement:

In [91]:
import pandas as pd